node_modules/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
.vscode/
backend/.env
backend/.env.local
frontend/.env
frontend/.env.local
frontend/.dart_tool/
frontend/.packages
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/android/local.properties
frontend/android/key.properties
